# Neon Database Configuration
DATABASE_URL="postgresql://neondb_owner:your-password@ep-xxx.us-east-2.aws.neon.tech/krown_pos?sslmode=require"

# Image Upload API Key (ImgBB / Cloudinary)
IMGBB_API_KEY=""

# Gemini AI API Key
GEMINI_API_KEY=""

# App Base URL
APP_URL="http://localhost:3000"
